* {
  user-select: none !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;

}

::-webkit-scrollbar-thumb {
  background-color: rgb(106, 106, 106);
  border-radius: 6px;
}

sup {
  z-index: 0;
}
@keyframes fadein {
  from{
    opacity: 0;
    scale: .8;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}
.fade{
  animation: fadein 500ms forwards;
}